body{
    background-color: gray;
}

.boton{
    text-decoration: none;
    padding: 5  px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color:orange;
    width: 200;
    height:200;
  }

  table, td , th{
    border: 1px solid black;
}

table{
    width: 30%;
    border-collapse: collapse;
}

td , th {
    width: 100px;
    height: 30px;
}

th{
    background:orange;
    text-align: right;
    vertical-align: top;
    color: white;
}

td{
    background:white ;
    text-align: left;
    vertical-align: bottom;
    color: BLACK;
}
